@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

.experience-section{
    margin-bottom: 40px;
        position: relative;
    &::after {
            content: "";
            background-image: url("../img/Group 26.svg");
            background-repeat: no-repeat;
            background-position: bottom right;
            position: absolute;
            width: 530px;
            height: 129px;
            bottom: -105px;
            right: -100px;
        }
    }
    .experience-items::before {
        content: "";
        display: block;
        width: 345px;
        height: 1px;
        background-color: vars.$white;
        margin-bottom: 40px;
    }

    article{
        text-align: center;

        h3{
            margin-bottom: 16px;
        }

        p{
            margin-bottom: 24px;
        }
}


@include mixins.breakpoint(tablet) {
    .experience-section{
        margin-left: 32px;
        margin-right: 32px;
        margin-bottom: 46px;

        &::after {
            bottom: -15px;
            right: -150px;
        }
        

        
        .experience-items{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            
            gap: 30px;

            article{
                text-align: left;

                h3{
                    font-size: 48px;
                }
                p{
                    font-size: 18px;
                    margin-bottom: 52px;

                }
            }

            &::before {
                width: 708px;
                grid-column: 1 / -1; 
            }

            
    }
}
}

@include mixins.breakpoint(desktop) {
    .experience-section{
        margin-left: 32px;
        margin-right: 32px;
        margin-bottom: 140px;

        &::after {
            bottom: -15px;
            right: -210px;
        }
        

        
        .experience-items{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            
            gap: 30px;

            article{
                text-align: left;

                h3{
                    font-size: 48px;
                }
                p{
                    font-size: 18px;
                    margin-bottom: 52px;

                }
            }

            &::before {
                width: 1110px;
                grid-column: 1 / -1; 
            }

            
    }
}
}
    