@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

.hero-section {
    margin-bottom: 80px;
    
    figure {
        width: 174px;
        height: 383px; 
        margin: 0 auto;
        position: relative;
        top:-90px;

        background: linear-gradient(
            to top,
            rgba(255, 255, 255, 0.03) 0%,
            rgba(151, 151, 151, 0.015) 40%,
            rgba(36, 36, 36, 0.002) 100%
        );
       
        background-size: 174px 383px;
        background-repeat: no-repeat;
        background-position: center calc(100% - 100px); 

        img {
            width: 174px;
            height: 242px;
            margin-bottom: 30px;
            position: absolute;
            left: 50%;
            bottom: 0; 
            transform: translateX(-50%);
            background: none; 
        }
    }

    h1{
        margin-top: -90px;
        text-align: center;
        margin-bottom: 24px;

        span:not(.break-tablet) {
            text-decoration: underline;
            text-decoration-color: vars.$green;
            text-decoration-thickness: 4px;
            text-underline-offset: 8px;
        }
    }

    h1 .break-tablet {
        display: inline;
    }
    @include mixins.breakpoint(tablet) {
        h1 .break-tablet {
            display: block;
            text-decoration: none;
           
        }
    }

    p{
        text-align: center;
        margin-bottom: 24px;
    }

    

        
}

.hero-section::before {
    content: "";
    background-image: url('../img/Group 26.svg');
    background-repeat: no-repeat;
    background-position: center left;
    position: absolute;
    width: 530px;
    height: 129px;
    top: 140px;
    left: -355px;
    rotate: 180deg;
}

.hero-section::after {
    content: "";
    background-image: url('../img/Oval.svg');
    background-repeat: no-repeat;
    background-position: right center;
    position: absolute;
    width: 129px;
    height: 129px;
    top: 284px;
    right: 0px;
}

@include mixins.breakpoint(tablet) {
    .hero-section::before {
        top: -23px;
        left: -16px;
        width: 270px;
        height: 129px;
        background-size: 100% 100%;
    }

    .hero-section::after {
        top: 350px;
        right: -16px;
    }

    

    .hero-section {
        display: flex;
        flex-direction: row;
        position: relative;
        margin-bottom: 0px;

        
        figure {
            flex: 0 0 auto; // Evita que figure se reduzca o crezca inesperadamente
            width: 322px;
            height: 600px;
            background-size: 100% 100%; // Asegura que el gradiente cubra todo el figure
            order: 2;
            z-index: -1;
            margin-right: -16px;

            img {
                width: 322px;
                height: 486px;
            }
        }

        .hero-text{
            position: absolute;
            z-index: 1;
            order: 1;
            margin-left: 32px;
            width: 443px;
            top: 130px;
            
            h1{
                text-align: left;
                font-size: 72px;
                line-height: 72px;
                letter-spacing: -2.05px;
                width: 445px;
                height: 233px;
                margin-bottom: 60px;
            }
            p{
                text-align: left;
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 0px;
                margin-bottom: 34px;
            }
        }
            
    }
}

@include mixins.breakpoint(desktop) {
     .hero-section::before {
        background-image: url("../img/Group 26-desktop.svg");
        top: -23px;
        left: -225px;
        width: 530px;
        height: 129px;
        background-size: 100% 100%;
        rotate: 360deg;
    }

    .hero-section::after {
        background-image: url("../img/Oval-desktop.svg");
        top: 360px;
        right: 365px;
    }

    

    .hero-section {
        display: flex;
        flex-direction: row;
        position: relative;
        margin-bottom: 0px;

        
        figure {
            flex: 0 0 auto; // Evita que figure se reduzca o crezca inesperadamente
            width: 445px;
            height: 720px;
            background-size: 100% 100%; // Asegura que el gradiente cubra todo el figure
            order: 2;
            z-index: -1;
            margin-right: -16px;

            img {
                width: 444px;
                height: 618px;
            }
        }

        .hero-text{
            position: absolute;
            z-index: 1;
            order: 1;
            
            width: 443px;
            top: 130px;
            
            h1{
                text-align: left;
                font-size: 85px;
                line-height: 85px;
                letter-spacing: -2.05px;
                width: 714px;
                height: 233px;
                margin-bottom: 20px;
            }
            p{
                text-align: left;
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 0px;
                margin-bottom: 66px;
            }
        }
            
    }
}

    